//@import "generic/reset"; //powoduje Ostrzeżęnia w narzędziach deweloperskich; 

@import "settings";

@import "elements/header";
@import "elements/footer";

#app.container{
    display: flex;
    flex-direction: column;  
    height: 100%;
    
}
.main{
    display: flex;
    flex-direction: row;
}