.header {
  height: 200px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);


  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  &__logo{
    
    background-image: url('../../src/images/6883_1.jpg');
    background-position: top;
    background-size: cover;

  
    background-repeat:no-repeat;
    background-clip: 50px;
    background-position-y: -10px;
    width: 300px;
    height: 150px;
    color: white;
  
  }
  
}